/* Global Style Start */
p {
  margin: 0;
}

button {
  border: none;
}

.bg-facebook {
  background-color: #4c66a1;
}

.bg-twitter {
  background-color: #52aeed;
}

.bg-basketball {
  background-color: #dd4d8a;
}

.bg-linkedin {
  background-color: #0085b0;
}

.background-primary {
  background-color: #8ac352;
}

.background-primary-thin {
  background-color: rgba(138, 195, 82, 0.8);
}

.background-primary-solid {
  background-color: #699e31;
}
.text-primary-2 {
  color: #699e31;
}

.background-secondary {
  background-color: #37bd9c;
}

.background-secondary-thin {
  background-color: rgba(55, 189, 156, 0.8);
}

.background-third {
  background-color: #ef5440;
}
.background-third-thin {
  background-color: rgba(239, 84, 64, 0.8);
}
.txt-third {
  color: #ef5440;
}

.background-third-solid {
  background-color: #d34836;
}

.background-warning {
  background-color: #f4bc44;
}
.background-warning-thin {
  background-color: rgba(244, 188, 68, 0.8);
}

.background-dark {
  background-color: #434a54;
}

.background-success {
  background-color: #3baeda;
}

.background-success-2 {
  background-color: #2e98c7;
}

.txt-secondary {
  color: #37bd9c;
}

.line {
  width: 100%;
  height: 6px;
  background-color: white;
}

.line-sm {
  width: 100%;
  height: 1px;
}
.line .left {
  width: 70%;
  height: 100%;
}

line .right {
  width: 30%;
  height: 100%;
}

/* Global Style End */

.main-app .sidebar img {
  width: 40px;
  height: 40px;
}

.main-app .sidebar .main-menu .menu-item {
  height: 50px;
  border-bottom: 1px solid rgb(46, 46, 46);
  padding: 12px 0px;
}

.main-app .sidebar .main-menu .menu-item .dashboard-title > i {
  margin-right: 23px;
}
.main-app .sidebar .main-menu .menu-item .title i {
  margin-right: 19px;
}

.main-app .sidebar .main-menu .menu-item span {
  margin-right: 7px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  background-color: #ea5a39;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 27px;
  left: 0px;
  top: 0;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #88be4b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Main Content */
.main-app .main-content {
  width: 100%;
  height: 100%;
  background-color: #e7e9f0;
}

nav .icon-notification {
  width: 35%;
  align-items: center;
}

nav img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Dashboard */
.dashboard .today .box {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("./../img/bubble1.png");
  background-size: cover;
}

.dashboard .today .box img {
  width: 100%;
  object-fit: cover;
}

.dashboard .research {
  width: 100%;
}

.dashboard .research .line-chart {
  width: 100%;
}

.dashboard .research .line-chart button {
  border: none;
}

.dashboard .research .line-chart .button-1 {
  background-color: #2d9ab9;
  color: white;
}

.dashboard .research .rent-house {
  width: 100%;
  background-color: white;
}

.dashboard .research .rent-house img {
  height: 250px;
  object-fit: cover;
}


.dashboard .research .rent-house .price {
  background-color: #f9b654;
}

.dashboard .research .rent-house .price .circle {
  width: 68px;
  height: 68px;
  background-color: #e7583f;
}

.dashboard .research .rent-house .desc {
  height: 70px;
  border-bottom: 1px solid rgb(202, 197, 197);
}

.dashboard .research .rent-house .button button {
  width: 140px;
  height: 40px;
  color: white;
}

.dashboard .research .forecast-weather {
  width: 100%;
  background-image: url("./../img/nature.jpg");
  background-size: cover;
  background-position: center;
}

.dashboard .research .forecast-weather .cloud i {
  font-size: 120px;
}

.dashboard .research .forecast-weather .cloud div h1 {
  font-size: 80px;
}

.dashboard .research .forecast-weather .cloud div h1::after {
  content: "°";
}


.dashboard .research .media-social .box {
  width: 100%;
  height: 150px;
  padding: 30px 0px;
}

.dashboard .research .friend-request .box {
  height: 90px;
  width: 100%;
}

.dashboard .research .friend-request .box img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.dashboard .research .friend-request .checklist {
  height: 40px;
  width: 50px;
}

.dashboard .status {
  width: 100%;
}

.dashboard .status .box-1 {
  width: 100%;
  height: 230px;
}
.dashboard .status .box-1 .box-content-1 {
  height: 75%;
  background-color: black;
  background-image: url("./../img/sunrise.jpg");
  background-position: center;
  background-size: cover;
}

.dashboard .status .box-1 .box-content-1 img,
.dashboard .status .box-2 img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.dashboard .status .box-1 .box-content-1 h5 {
  margin-top: 90px;
}

.dashboard .status .server-status {
  height: 248px;
}

.dashboard .status .server-status img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.dashboard .place-weather .box-wrapper .box-header i {
  font-size: 150px;
}

.dashboard .popular-item .box-wrapper img {
  width: 80px;
  height: 130px;
  object-fit: cover;
}

.dashboard .featured-product {
  width: 100%;
}

.dashboard .featured-product .box-content .description {
  width: 40%;
  background-color: white;
  height: 450px;
}

.dashboard .featured-product .box-content img {
  width: 60%;
  height: 450px;
  object-fit: cover;
}

.dashboard .featured-product .reminder {
  width: 100%;
}

.dashboard .featured-product .reminder .header {
  padding-top: 30px;
}

@media screen and (max-width: 576px) {
  .sidebar {
    display: none;
  }
  .form-control {
    display: none;
  }
  .icon-notification{
    width: 100%;
  }

  .profile .body img,
  .profile .body span {
    display: none;
  }

  .featured-product .box-content {
    flex-direction: column;
  }
  .research .line-chart span,
  .research .line-chart button{
    font-size: 12px;
  }
}
